In [1]:
#pip install gspread

In [2]:
import pandas as pd
import gspread

In [8]:
gc = gspread.service_account(filename=\'enter your key path')

In [10]:
gc

In [11]:
sheet= gc.open_by_url('https://docs.google.com/spreadsheets/d/1Qzz-JrDBNOl716u7JleR0Qyr2WeZpI8oFOyJgRW60ig/edit?usp=sharing')

In [13]:
sheet

In [30]:
ws = sheet.worksheet('Sheet1')
ws

In [31]:
df =pd.DataFrame(ws.get_all_records())
df

    name1  age1
0   fahim    24
1  badhon    21
2   maruf    29
3   shuvo    31
4   lablu    34

In [32]:
ws2 = sheet.worksheet('Sheet2')
ws2

In [33]:
df2 =pd.DataFrame(ws.get_all_records())
df2

    name1  age1
0   fahim    24
1  badhon    21
2   maruf    29
3   shuvo    31
4   lablu    34